:root {
  --black: #0F0F0F;
  --dark-gray-porgress: #323232;
  --dark-gray-border: #3E3E3E;
  --dark-gray: #787878;
  --dark-gray-symbol: #686868;
  --middle-gray: #B4B4B5;
  --light-gray: #CCCCCC;
  --white: #FFFFFF;
  --yellow: #F2D24C;
}


html,
body {
  box-sizing: border-box;
  background-color: var(--black);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

/* 字體 css */

h1,
h2,
h3 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1 {
  font-weight: 900;
  font-size: 32px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 13px;
  color: var(--middle-gray);
}

p {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  text-transform: uppercase;
}

.sold-amount {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
}

#clr-g {
  color: var(--dark-gray);
  margin: 0 0.2rem;
}

#clr-y {
  color: var(--yellow);
  vertical-align: middle;
  margin: 0 0.2rem 0 1rem;
}

.step h2 {
  font-size: 13px;
  color: var(--light-gray);
  opacity: 0.3;
}

.step h2#active {
  color: var(--yellow);
  opacity: 100;
}

.step h3 {
  font-size: 11px;
  opacity: 0.3;
}

.step h3#active {
  color: var(--white);
  opacity: 100;
}

.slogan p {
  font-weight: 700;
  font-size: 36px;
  color: var(--black);
  margin: 0.1rem;
}

.slogan h2 {
  color: var(--black);
  margin: 0.5rem 0;
}

.slogan h3 {
  color: var(--black);
  text-align: left;
  margin: 0.5rem 0;
}

.slogan-label {
  font-family: 'Noto Sans TC';
  font-weight: 900;
  font-size: 16px;
  vertical-align: text-top;
  margin-left: 0.3rem;
}

.counter-container p {
  font-weight: 500;
  font-size: 58px;
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.counter .count-label {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--dark-gray);
}

/* header css */

.App-header {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.App-logo {
  width: 169.98px;
  height: 26.18px;
  padding: 0 1.3rem;
}

.link {
  width: 100vw;
  border: 1px solid var(--dark-gray-border);
}

/* body css */
/* title setting */

.img-calendar {
  width: 20rem;
  filter: drop-shadow(3px 9px 12px rgba(0, 0, 0, 0.5));
}

.title {
  line-height: 140%;
}

.title-marker {
  background: var(--yellow);
  color: var(--black);
}

.link-all {
  width: 100vw;
  margin: auto;
  border: 1px solid var(--middle-gray);
}

/* content setting */

.content-container {
  margin: auto;
  box-sizing: border-box;
  border-right: 1px solid var(--dark-gray-border);
  border-left: 1px solid var(--dark-gray-border);
  margin: 0 1rem;
  padding: 0.5rem 0;
  text-align: justify;
}

.content-wrapper {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--dark-gray-border);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0.5rem;
  line-height: 160%;
}

.text-calendar {
  display: none;
}

/* co-brading setting */

.co-branding-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.MWN-logo {
  width: 125px;
  height: 40px;
}

.co-branding {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--dark-gray-symbol);
  margin: 0 0.6rem;
}

.JA-logo {
  width: 165px;
  height: 35px;
}

.co-branding-introduce {
  width: 20rem;
  margin: 0 auto;
}

/* step setting */

.step-container {
  margin: auto;
  box-sizing: border-box;
  border-right: 1px solid var(--dark-gray-border);
  border-left: 1px solid var(--dark-gray-border);
  margin: 0 1rem;
}

.step-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem 0.5rem;
}

.target {
  width: 7px;
  height: 7px;
  background: var(--dark-gray);
  transform: rotate(45deg);
  margin: 0.8rem;
  z-index: 1;
}

.target.active {
  background: var(--white);
}

/* progress setting */

.progress-container {
  width: 80vw;
  margin: auto;
  border: 3px solid var(--dark-gray-porgress);
  transform: translateY(-640%);
  z-index: -1;
}

.progress {
  background-color: var(--yellow);
  height: 3px;
  /* width 控制進度條長度 */
  width: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

/* slogan setting */

.slogan-container {
  margin: auto;
  max-width: 450px;
  background: var(--yellow);
}

.slogan-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slogan#right {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-left: 1px solid var(--black);
  padding: 0 1rem;
}

/* counter setting */

.counter-container {
  margin: auto;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 0.75px solid #DBDBDB;
}

.counter-wrapper {
  margin: 0.5rem 1rem;
}

.counter {
  display: flex;
  flex-direction: row;
}

.time-colon {
  padding-bottom: 2rem;
}

/* desk */

@media screen and (min-width:1336px) {

  /* text setting */

  h1 {
    font-size: 55px;
    line-height: 80%;
    padding: 0 8.5rem;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  .sold-amount {
    font-size: 70px;
  }

  #clr-g {
    margin: 0 0.5rem;
  }

  #clr-y {
    margin: 0 0.5rem 0 2.5rem;
  }

  /* header setting */

  .App-header {
    margin-top: 3rem;
  }

  .App-logo {
    width: 230px;
    height: 36px;
    padding: 0 1.5rem;
  }

  /* title setting */

  .title-container {
    margin: auto 20rem;
  }

  .title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 1rem;
    border-left: 1px solid var(--dark-gray-border);
  }

  .img {
    position: absolute;
    margin: 0 32rem;
    z-index: 1;
  }

  .img-calendar {
    width: 37rem;
  }

  .text-calendar {
    display: flex;
    margin: auto 25rem;
    justify-content: flex-end;
    padding: auto;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    line-height: 239px;
    text-transform: uppercase;
    color: var(--dark-gray);
  }

  .title {
    text-align: left;
    margin: 2rem 0 1rem 0;
    z-index: 0;
  }

  .link-all {
    width: 100vw;
    margin: auto;
    border: 1px solid var(--dark-gray-border);
  }

  .link-all.nd {
    border: none;
  }

  /* content setting */

  .content-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto 20rem;
    border: 1px solid var(--dark-gray-border);
  }

  .content-wrapper {
    border: none;
    margin: 1rem 2rem;
  }

  .co-branding-wrapper {
    margin: 1rem 2rem;
  }

  /* co-branding setting */

  .MWN-logo {
    width: 155px;
    height: 50px;
  }

  .co-branding {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: var(--dark-gray-symbol);
    margin: 0 1rem;
  }

  .JA-logo {
    width: 180px;
    height: 40px;
  }

  .co-branding-introduce {
    width: 24rem;
  }

  /* step setting */

  .step-container {
    margin: auto 20rem;
    padding: 2rem 0;
    border: none;
  }

  .step {
    width: 25%;
    justify-content: flex-start;
  }

  .step h2 {
    font-size: 16px;
  }

  .step h3 {
    font-size: 16px;
    text-align: left;
  }

  /* slogan & counter */

  .desk-slogan-counter {
    display: flex;
    flex-direction: row;
    margin: auto 20rem;
  }

  .slogan-container {
    margin: 0.1rem;
    max-width: 450px;
  }

  /* counter */
  .counter-container {
    margin: 0.1rem;
    padding: 0 15rem;
  }

  .counter {
    display: flex;
    flex-direction: row;
  }
}